
<div class="container row g-3 align-items-center">
  <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3 field col-sm-3">
    <%= f.label :email , class:"form-label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email"  ,class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :first_name , class:"form-label"%><br />
    <%= f.text_field :first_name ,  class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :last_name , class:"form-label"%><br />
    <%= f.text_field :last_name,  class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :phone_number , class:"form-label"%><br />
    <%= f.telephone_field :phone_number,  class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :address , class:"form-label"%><br />
    <%= f.text_field :address,  class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :avatar , class:"form-label"%><br />
    <%= f.file_field :avatar,  class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :password , class:"form-label"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,  class: "form-control"%>
  </div>

  <div class="mb-3 field col-sm-3">
    <%= f.label :password_confirmation, class: "form-label"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control"%>
  </div>
<%= f.submit "Sign up", class: "btn btn-success"%>
  </div>
<% end %>

<%= render "devise/shared/links", class: "btn btn-success" %>
</div>